<%- include("includes/header.ejs") %>

    <%- include("includes/navbar.ejs") %>

        <div class="pagenot">
            <img src="https://klizos.com/wp-content/uploads/funny-404-error-page-GIF.gif" alt="">
            <a href="http://localhost:8080/listings">Go to Listings</a>
        </div>


        <%- include("includes/footer.ejs") %>